
.title[b-018g6rcgfi] {
    font-size: 0.85em;
    font-weight: bold;
    color: #2471A3;
}

.infoSmall[b-018g6rcgfi] {
    font-size: 0.8em;
    color: darkblue;
}


.textSufix[b-018g6rcgfi] {
    font-size: 0.7em;
    color: grey;
}

.titleDis[b-018g6rcgfi] {
    font-size: 0.80em;
    color: grey;
}
