/* _content/RecycleCoinBlockExplorer/Views/Accounts/Index.cshtml.rz.scp.css */
.rowDiv[b-kq4h4abydg] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.value[b-kq4h4abydg] {
    color: grey;
    font-size: 0.95em;
}

.title[b-kq4h4abydg] {
    font-size: 0.7em;
}

.valueWithLink[b-kq4h4abydg] {
    font-size: 0.95em;
}

.address[b-kq4h4abydg] {
    color: gray;
    font-size: 0.9em;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/Index.cshtml.rz.scp.css */
.subtitle[b-vwekut7dzc] {
    font-size: 11px;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_CardAccountPartial.cshtml.rz.scp.css */

.title[b-m86q52ybh7] {
    font-size: 0.85em;
    font-weight: bold;
    color: #2471A3;
}

.infoSmall[b-m86q52ybh7] {
    font-size: 0.8em;
    color: darkblue;
}


.textSufix[b-m86q52ybh7] {
    font-size: 0.7em;
    color: grey;
}

.titleDis[b-m86q52ybh7] {
    font-size: 0.80em;
    color: grey;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_CardBlockPartial.cshtml.rz.scp.css */

.title[b-ui3637u6kq] {
    font-size: 0.85em;
    font-weight: bold;
    color: #2471A3;
}

.infoSmall[b-ui3637u6kq] {
    font-size: 0.8em;
    color: darkblue;
}


.textSufix[b-ui3637u6kq] {
    font-size: 0.7em;
    color: grey;
}

.titleDis[b-ui3637u6kq] {
    font-size: 0.80em;
    color: grey;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_CardTransactionPartial.cshtml.rz.scp.css */

.title[b-5tavib6l44] {
    font-size: 0.85em;
    font-weight: bold;
    color: #2471A3;
}

.infoSmall[b-5tavib6l44] {
    font-size: 0.8em;
    color: darkblue;
}


.textSufix[b-5tavib6l44] {
    font-size: 0.7em;
    color: grey;
}

.titleDis[b-5tavib6l44] {
    font-size: 0.80em;
    color: grey;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_CardTransactionPoolPartial.cshtml.rz.scp.css */

.title[b-018g6rcgfi] {
    font-size: 0.85em;
    font-weight: bold;
    color: #2471A3;
}

.infoSmall[b-018g6rcgfi] {
    font-size: 0.8em;
    color: darkblue;
}


.textSufix[b-018g6rcgfi] {
    font-size: 0.7em;
    color: grey;
}

.titleDis[b-018g6rcgfi] {
    font-size: 0.80em;
    color: grey;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_WidgetBlockPartial.cshtml.rz.scp.css */
.dateTx[b-ytp4s81x3o] {
    font-size: 0.70em;
    white-space: nowrap;
}

.bk[b-ytp4s81x3o] {
    text-align: center;
    font-size: 1.2em;
}

.amount[b-ytp4s81x3o] {
    padding: 5px;
    font-size: 0.70em;
    min-width: 10%;
    text-align: end;
    background-color: #eee;
    white-space: nowrap;
}

.viewall[b-ytp4s81x3o] {
    font-size: 0.8em;
}

.heightBlock[b-ytp4s81x3o] {
    font-size: 0.9em;
}

.addrsLabel[b-ytp4s81x3o] {
    font-size: 0.7em;
    color: gray;
}

.numTnx[b-ytp4s81x3o] {
    font-size: 0.7em;
}

.lblTx[b-ytp4s81x3o] {
    font-size: 0.7em;
}

.address[b-ytp4s81x3o] {
    font-size: 0.9em;
}

.subTitle[b-ytp4s81x3o] {
    color: #454545;
}

.divRow[b-ytp4s81x3o] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_WidgetTransactionPartial.cshtml.rz.scp.css */
.dateTx[b-inienl51wj] {
    font-size: 0.70em;
    white-space: nowrap;
}

.tx[b-inienl51wj] {
    text-align: center;
    font-size: 1.2em;
}

.amount[b-inienl51wj] {
    padding: 5px;
    font-size: 0.7em;
    min-width: 10%;
    text-align: end;
    background-color: #eee;
    white-space: nowrap;
}

.viewall[b-inienl51wj] {
    font-size: 0.9em;
}

.hashTx[b-inienl51wj] {
    font-size: 0.85em;
}

.addrsLabel[b-inienl51wj] {
    font-size: 0.74em;
    color: black;
}

.addrs[b-inienl51wj] {
    font-size: 0.95em;
}

.subTitle[b-inienl51wj] {
    color: #454545;
}



.divRow[b-inienl51wj] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}
/* _content/RecycleCoinBlockExplorer/Views/Home/_WidgetTransactionPoolPartial.cshtml.rz.scp.css */
.dateTx[b-ba8z67lcf7] {
    font-size: 0.70em;
    white-space: nowrap;
}

.tx[b-ba8z67lcf7] {
    text-align: center;
    font-size: 1.2em;
}

.amount[b-ba8z67lcf7] {
    padding: 5px;
    font-size: 0.7em;
    min-width: 10%;
    text-align: end;
    background-color: #eee;
    white-space: nowrap;
}

.viewall[b-ba8z67lcf7] {
    font-size: 0.9em;
}

.hashTx[b-ba8z67lcf7] {
    font-size: 0.85em;
}

.addrsLabel[b-ba8z67lcf7] {
    font-size: 0.74em;
    color: black;
}

.addrs[b-ba8z67lcf7] {
    font-size: 0.95em;
}

.subTitle[b-ba8z67lcf7] {
    color: #454545;
}



.divRow[b-ba8z67lcf7] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}
/* _content/RecycleCoinBlockExplorer/Views/Shared/Components/AccountsComponent/AccountsList.cshtml.rz.scp.css */
.validatorLabel[b-cwqoccgjby] {
    font-size: 0.75em;
}

.validator[b-cwqoccgjby] {
    font-size: 0.9em;
}

.numTnx[b-cwqoccgjby] {
    font-size: 0.95em;
    white-space: nowrap;
}

.numTxInTable[b-cwqoccgjby] {
    font-size: 0.85em;
    white-space: nowrap;
}

.lblTx[b-cwqoccgjby] {
    font-size: 0.8em;
}


.dateTx[b-cwqoccgjby] {
    font-size: 0.7em;
    white-space: nowrap;
}


.heightBlock[b-cwqoccgjby] {
    font-size: 0.85em;
}

.bk[b-cwqoccgjby] {
    text-align: left;
    width: 30px;
    height: 30px;
}

.amount[b-cwqoccgjby] {
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
    width: 100%;
    text-align: end;
    background-color: #eee;
}

.subTitle[b-cwqoccgjby] {
    color: #454545;
}


.tableTitle[b-cwqoccgjby] {
    margin-bottom: 15px;
    margin-left: 5px;
    white-space: nowrap;
}

.divRow[b-cwqoccgjby] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall[b-cwqoccgjby] {
    font-size: 0.8em;
}

.addrsInTable[b-cwqoccgjby] {
    font-size: 0.8em;
}

.amountInTable[b-cwqoccgjby] {
    padding: 5px;
    font-size: 0.8em;
    text-align: end;
    white-space: nowrap;
}

.dateInTable[b-cwqoccgjby] {
    font-size: 0.8em;
    white-space: nowrap;
}

.tableHeader[b-cwqoccgjby] {
    font-size: 0.8em;
    white-space: nowrap;
}
/* _content/RecycleCoinBlockExplorer/Views/Shared/Components/BlocksComponent/Block.cshtml.rz.scp.css */
.rowDiv[b-shg9vz5jp3] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.value[b-shg9vz5jp3] {
    font-size: 0.95em;
}

.title[b-shg9vz5jp3] {
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-break: break-word;
}

.valueWithLink[b-shg9vz5jp3] {
    font-size: 0.95em;
}
/* _content/RecycleCoinBlockExplorer/Views/Shared/Components/BlocksComponent/BlocksList.cshtml.rz.scp.css */
.validatorLabel[b-c9e3ll6fub] {
    font-size: 0.75em;
}

.validator[b-c9e3ll6fub] {
    font-size: 0.9em;
}

.numTnx[b-c9e3ll6fub] {
    font-size: 0.95em;
    white-space: nowrap;
}

.numTxInTable[b-c9e3ll6fub] {
    font-size: 0.85em;
    white-space: nowrap;
}

.lblTx[b-c9e3ll6fub] {
    font-size: 0.8em;
}


.dateTx[b-c9e3ll6fub] {
    font-size: 0.7em;
    white-space: nowrap;
}


.heightBlock[b-c9e3ll6fub] {
    font-size: 0.85em;
}

.bk[b-c9e3ll6fub] {
    text-align: left;
    width: 30px;
    height: 30px;
}

.amount[b-c9e3ll6fub] {
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
    width: 100%;
    text-align: end;
    background-color: #eee;
}

.subTitle[b-c9e3ll6fub] {
    color: #454545;
}


.tableTitle[b-c9e3ll6fub] {
    margin-bottom: 15px;
    margin-left: 5px;
    white-space: nowrap;
}

.divRow[b-c9e3ll6fub] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall[b-c9e3ll6fub] {
    font-size: 0.8em;
}

.addrsInTable[b-c9e3ll6fub] {
    font-size: 0.8em;
}

.amountInTable[b-c9e3ll6fub] {
    padding: 5px;
    font-size: 0.8em;
    text-align: end;
    white-space: nowrap;
}

.dateInTable[b-c9e3ll6fub] {
    font-size: 0.8em;
    white-space: nowrap;
}

.tableHeader[b-c9e3ll6fub] {
    font-size: 0.8em;
    white-space: nowrap;
}
/* _content/RecycleCoinBlockExplorer/Views/Shared/Components/TransactionsComponent/Transaction.cshtml.rz.scp.css */
.rowDiv[b-njegzjgrir] {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.title[b-njegzjgrir] {
    margin-top: 20px;
}

.value[b-njegzjgrir] {
    font-size: 0.95em;
}


.success[b-njegzjgrir] {
    color: green;
    font-size: 0.95em;
}

.valueWithLink[b-njegzjgrir] {
    font-size: 0.95em;
}
/* _content/RecycleCoinBlockExplorer/Views/Shared/Components/TransactionsComponent/TransactionsList.cshtml.rz.scp.css */
.dateTx[b-tto9fhvr08] {
    font-size: 0.70em;
    white-space: nowrap;
}

.tx[b-tto9fhvr08] {
    text-align: left;
}

.amount[b-tto9fhvr08] {
    padding: 5px;
    font-size: 0.75em;
    min-width: 10%;
    font-weight: bold;
    text-align: end;
    background-color: #eee;
    white-space: nowrap;
}

.tableHeader[b-tto9fhvr08] {
    font-size: 0.8em;
    white-space: nowrap;
}

.hashTx[b-tto9fhvr08] {
    font-size: 0.8em;
}

.addrsLabel[b-tto9fhvr08] {
    font-size: 0.7em;
    color: black;
}

.addrsInTable[b-tto9fhvr08] {
    font-size: 0.8em;
}

.amountInTable[b-tto9fhvr08] {
    padding: 5px;
    font-size: 0.8em;
    text-align: end;
    white-space: nowrap;
}

.subTitle[b-tto9fhvr08] {
    color: #454545;
}

.tableTitle[b-tto9fhvr08] {
    margin-bottom: 15px;
    margin-left: 5px;
}

.divRow[b-tto9fhvr08] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall[b-tto9fhvr08] {
    font-size: 0.8em;
}
/* _content/RecycleCoinBlockExplorer/Views/Shared/_Layout.cshtml.rz.scp.css */
body[b-n804nrnd72] {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a[b-n804nrnd72] {
    color: #4154f1;
    text-decoration: none;
}

    a:hover[b-n804nrnd72] {
        color: #717ff5;
        text-decoration: none;
    }


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main[b-n804nrnd72] {
    margin-top: 50px;
    padding: 30px 50px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main[b-n804nrnd72] {
        padding: 20px;
    }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle[b-n804nrnd72] {
    margin-bottom: 10px;
}

    .pagetitle h1[b-n804nrnd72] {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 600;
        color: #3e797b;
    }

/* Card */
.card[b-n804nrnd72] {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    overflow: hidden;
}

.card-header[b-n804nrnd72], .card-footer[b-n804nrnd72] {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title[b-n804nrnd72] {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

    .card-title span[b-n804nrnd72] {
        color: #899bbd;
        font-size: 14px;
        font-weight: 400;
    }

.card-body[b-n804nrnd72] {
    padding: 0 20px 20px 20px;
}

.card-img-overlay[b-n804nrnd72] {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Breadcrumbs */
.breadcrumb[b-n804nrnd72] {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

    .breadcrumb a[b-n804nrnd72] {
        color: #899bbd;
        transition: 0.3s;
    }

        .breadcrumb a:hover[b-n804nrnd72] {
            color: #51678f;
        }

    .breadcrumb .breadcrumb-item[b-n804nrnd72]::before {
        color: #899bbd;
    }

    .breadcrumb .active[b-n804nrnd72] {
        color: #51678f;
        font-weight: 600;
    }

/* Bordered Tabs */
.nav-tabs-bordered[b-n804nrnd72] {
    border-bottom: 2px solid #ebeef4;
}

    .nav-tabs-bordered .nav-link[b-n804nrnd72] {
        margin-bottom: -2px;
        border: none;
        color: #2c384e;
    }

        .nav-tabs-bordered .nav-link:hover[b-n804nrnd72], .nav-tabs-bordered .nav-link:focus[b-n804nrnd72] {
            color: #4154f1;
        }

        .nav-tabs-bordered .nav-link.active[b-n804nrnd72] {
            background-color: #fff;
            color: #4154f1;
            border-bottom: 2px solid #4154f1;
        }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo[b-n804nrnd72] {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo[b-n804nrnd72] {
        width: 280px;
    }
}

.logo img[b-n804nrnd72] {
    max-height: 42px;
    margin-right: 6px;
}

.logo span[b-n804nrnd72] {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.header[b-n804nrnd72] {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

.header2[b-n804nrnd72] {
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 2px 10px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}


/**
* Template Name: NiceAdmin - v2.2.0
* Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root[b-n804nrnd72] {
    scroll-behavior: smooth;
}

body[b-n804nrnd72] {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a[b-n804nrnd72] {
    color: #4154f1;
    text-decoration: none;
}

    a:hover[b-n804nrnd72] {
        color: #717ff5;
        text-decoration: none;
    }

h1[b-n804nrnd72], h2[b-n804nrnd72], h3[b-n804nrnd72], h4[b-n804nrnd72], h5[b-n804nrnd72], h6[b-n804nrnd72] {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main[b-n804nrnd72] {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main[b-n804nrnd72] {
        padding: 20px;
    }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle[b-n804nrnd72] {
    margin-bottom: 10px;
}

    .pagetitle h1[b-n804nrnd72] {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 600;
        color: #012970;
    }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top[b-n804nrnd72] {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i[b-n804nrnd72] {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }

    .back-to-top:hover[b-n804nrnd72] {
        background: #6776f4;
        color: #fff;
    }

    .back-to-top.active[b-n804nrnd72] {
        visibility: visible;
        opacity: 1;
    }

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu[b-n804nrnd72] {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate-b-n804nrnd72;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

@media (max-width: 480px) {
    .dropdown-menu[b-n804nrnd72] {
        width: 100vw !important;
    }
}

.dropdown-menu .dropdown-header[b-n804nrnd72], .dropdown-menu .dropdown-footer[b-n804nrnd72] {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

    .dropdown-menu .dropdown-footer a[b-n804nrnd72] {
        color: #444444;
        text-decoration: underline;
    }

        .dropdown-menu .dropdown-footer a:hover[b-n804nrnd72] {
            text-decoration: none;
        }

.dropdown-menu .dropdown-divider[b-n804nrnd72] {
    color: #a5c5fe;
    margin: 0;
}

.dropdown-menu .dropdown-item[b-n804nrnd72] {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

    .dropdown-menu .dropdown-item i[b-n804nrnd72] {
        margin-right: 10px;
        font-size: 18px;
        line-height: 0;
    }

    .dropdown-menu .dropdown-item:hover[b-n804nrnd72] {
        background-color: #f6f9ff;
    }

@media (min-width: 768px) {
    .dropdown-menu-arrow[b-n804nrnd72]::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@-webkit-keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@keyframes dropdown-animate-b-n804nrnd72 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}
/* Light Backgrounds */
.bg-primary-light[b-n804nrnd72] {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
}

.bg-secondary-light[b-n804nrnd72] {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.bg-success-light[b-n804nrnd72] {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
}

.bg-danger-light[b-n804nrnd72] {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-warning-light[b-n804nrnd72] {
    background-color: #fff3cd;
    border-color: #fff3cd;
}

.bg-info-light[b-n804nrnd72] {
    background-color: #cff4fc;
    border-color: #cff4fc;
}

.bg-dark-light[b-n804nrnd72] {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
}

/* Card */
.card[b-n804nrnd72] {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    overflow: hidden;
}

.card-header[b-n804nrnd72], .card-footer[b-n804nrnd72] {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title[b-n804nrnd72] {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

    .card-title span[b-n804nrnd72] {
        color: #899bbd;
        font-size: 14px;
        font-weight: 400;
    }

.card-body[b-n804nrnd72] {
    padding: 0 20px 20px 20px;
}

.card-img-overlay[b-n804nrnd72] {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading[b-n804nrnd72] {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/* Close Button */
.btn-close[b-n804nrnd72] {
    background-size: 25%;
}

    .btn-close:focus[b-n804nrnd72] {
        outline: 0;
        box-shadow: none;
    }

/* Accordion */
.accordion-item[b-n804nrnd72] {
    border: 1px solid #ebeef4;
}

.accordion-button:focus[b-n804nrnd72] {
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed)[b-n804nrnd72] {
    color: #012970;
    background-color: #f6f9ff;
}

.accordion-flush .accordion-button[b-n804nrnd72] {
    padding: 15px 0;
    background: none;
    border: 0;
}

    .accordion-flush .accordion-button:not(.collapsed)[b-n804nrnd72] {
        box-shadow: none;
        color: #4154f1;
    }

.accordion-flush .accordion-body[b-n804nrnd72] {
    padding: 0 0 15px 0;
    color: #3e4f6f;
    font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb[b-n804nrnd72] {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

    .breadcrumb a[b-n804nrnd72] {
        color: #899bbd;
        transition: 0.3s;
    }

        .breadcrumb a:hover[b-n804nrnd72] {
            color: #51678f;
        }

    .breadcrumb .breadcrumb-item[b-n804nrnd72]::before {
        color: #899bbd;
    }

    .breadcrumb .active[b-n804nrnd72] {
        color: #51678f;
        font-weight: 600;
    }

/* Bordered Tabs */
.nav-tabs-bordered[b-n804nrnd72] {
    border-bottom: 2px solid #ebeef4;
}

    .nav-tabs-bordered .nav-link[b-n804nrnd72] {
        margin-bottom: -2px;
        border: none;
        color: #2c384e;
    }

        .nav-tabs-bordered .nav-link:hover[b-n804nrnd72], .nav-tabs-bordered .nav-link:focus[b-n804nrnd72] {
            color: #4154f1;
        }

        .nav-tabs-bordered .nav-link.active[b-n804nrnd72] {
            background-color: #fff;
            color: #4154f1;
            border-bottom: 2px solid #4154f1;
        }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo[b-n804nrnd72] {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo[b-n804nrnd72] {
        width: 280px;
    }
}

.logo img[b-n804nrnd72] {
    max-height: 30px;
    margin-right: 10px;
}

.logo span[b-n804nrnd72] {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.header[b-n804nrnd72] {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

    .header .toggle-sidebar-btn[b-n804nrnd72] {
        font-size: 32px;
        padding-left: 10px;
        cursor: pointer;
        color: #012970;
    }

    .header .search-bar[b-n804nrnd72] {
        min-width: 360px;
        padding: 0 20px;
    }

@media (max-width: 1199px) {
    .header .search-bar[b-n804nrnd72] {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    .header .search-bar-show[b-n804nrnd72] {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}

.header .search-form[b-n804nrnd72] {
    width: 100%;
}

    .header .search-form input[b-n804nrnd72] {
        border: 0;
        font-size: 14px;
        color: #012970;
        border: 1px solid rgba(1, 41, 112, 0.2);
        padding: 7px 38px 7px 8px;
        border-radius: 3px;
        transition: 0.3s;
        width: 100%;
    }

        .header .search-form input:focus[b-n804nrnd72], .header .search-form input:hover[b-n804nrnd72] {
            outline: none;
            box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
            border: 1px solid rgba(1, 41, 112, 0.3);
        }

    .header .search-form button[b-n804nrnd72] {
        border: 0;
        padding: 0;
        margin-left: -30px;
        background: none;
    }

        .header .search-form button i[b-n804nrnd72] {
            color: #012970;
        }

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul[b-n804nrnd72] {
    list-style: none;
}

.header-nav > ul[b-n804nrnd72] {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon[b-n804nrnd72] {
    font-size: 20px;
    color: #012970;
}

.header-nav .nav-profile[b-n804nrnd72] {
    color: #012970;
}

    .header-nav .nav-profile img[b-n804nrnd72] {
        max-height: 36px;
    }

    .header-nav .nav-profile span[b-n804nrnd72] {
        font-size: 14px;
        font-weight: 600;
    }

.header-nav .badge-number[b-n804nrnd72] {
    position: absolute;
    inset: 4px 6px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
}

.header-nav .notifications .notification-item[b-n804nrnd72] {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

    .header-nav .notifications .notification-item i[b-n804nrnd72] {
        margin: 0 20px 0 10px;
        font-size: 24px;
    }

    .header-nav .notifications .notification-item h4[b-n804nrnd72] {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .header-nav .notifications .notification-item p[b-n804nrnd72] {
        font-size: 13px;
        margin-bottom: 3px;
        color: #919191;
    }

    .header-nav .notifications .notification-item:hover[b-n804nrnd72] {
        background-color: #f6f9ff;
    }

.header-nav .messages .message-item[b-n804nrnd72] {
    padding: 15px 10px;
    transition: 0.3s;
}

    .header-nav .messages .message-item a[b-n804nrnd72] {
        display: flex;
    }

    .header-nav .messages .message-item img[b-n804nrnd72] {
        margin: 0 20px 0 10px;
        max-height: 40px;
    }

    .header-nav .messages .message-item h4[b-n804nrnd72] {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #444444;
    }

    .header-nav .messages .message-item p[b-n804nrnd72] {
        font-size: 13px;
        margin-bottom: 3px;
        color: #919191;
    }

    .header-nav .messages .message-item:hover[b-n804nrnd72] {
        background-color: #f6f9ff;
    }

.header-nav .profile[b-n804nrnd72] {
    min-width: 240px;
    padding-bottom: 0;
}

    .header-nav .profile .dropdown-header h6[b-n804nrnd72] {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 600;
        color: #444444;
    }

    .header-nav .profile .dropdown-header span[b-n804nrnd72] {
        font-size: 14px;
    }

    .header-nav .profile .dropdown-item[b-n804nrnd72] {
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;
    }

        .header-nav .profile .dropdown-item i[b-n804nrnd72] {
            margin-right: 10px;
            font-size: 18px;
            line-height: 0;
        }

        .header-nav .profile .dropdown-item:hover[b-n804nrnd72] {
            background-color: #f6f9ff;
        }

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar[b-n804nrnd72] {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

@media (max-width: 1199px) {
    .sidebar[b-n804nrnd72] {
        left: -300px;
    }
}

.sidebar[b-n804nrnd72]::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar[b-n804nrnd72]::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {
    #main[b-n804nrnd72], #footer[b-n804nrnd72] {
        /* margin-left: 30px; */
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar[b-n804nrnd72] {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #main[b-n804nrnd72], .toggle-sidebar #footer[b-n804nrnd72] {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar[b-n804nrnd72] {
        left: -300px;
    }
}

.sidebar-nav[b-n804nrnd72] {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .sidebar-nav li[b-n804nrnd72] {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sidebar-nav .nav-item[b-n804nrnd72] {
        margin-bottom: 5px;
    }

    .sidebar-nav .nav-heading[b-n804nrnd72] {
        font-size: 11px;
        text-transform: uppercase;
        color: #899bbd;
        font-weight: 600;
        margin: 10px 0 5px 15px;
    }

    .sidebar-nav .nav-link[b-n804nrnd72] {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        color: #4154f1;
        transition: 0.3;
        background: #f6f9ff;
        padding: 10px 15px;
        border-radius: 4px;
    }

        .sidebar-nav .nav-link i[b-n804nrnd72] {
            font-size: 16px;
            margin-right: 10px;
            color: #4154f1;
        }

        .sidebar-nav .nav-link.collapsed[b-n804nrnd72] {
            color: #012970;
            background: #fff;
        }

            .sidebar-nav .nav-link.collapsed i[b-n804nrnd72] {
                color: #899bbd;
            }

        .sidebar-nav .nav-link:hover[b-n804nrnd72] {
            color: #4154f1;
            background: #f6f9ff;
        }

            .sidebar-nav .nav-link:hover i[b-n804nrnd72] {
                color: #4154f1;
            }

        .sidebar-nav .nav-link .bi-chevron-down[b-n804nrnd72] {
            margin-right: 0;
            transition: transform 0.2s ease-in-out;
        }

        .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down[b-n804nrnd72] {
            transform: rotate(180deg);
        }

    .sidebar-nav .nav-content[b-n804nrnd72] {
        padding: 5px 0 0 0;
        margin: 0;
        list-style: none;
    }

        .sidebar-nav .nav-content a[b-n804nrnd72] {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            color: #012970;
            transition: 0.3;
            padding: 10px 0 10px 40px;
            transition: 0.3s;
        }

            .sidebar-nav .nav-content a i[b-n804nrnd72] {
                font-size: 6px;
                margin-right: 8px;
                line-height: 0;
                border-radius: 50%;
            }

            .sidebar-nav .nav-content a:hover[b-n804nrnd72], .sidebar-nav .nav-content a.active[b-n804nrnd72] {
                color: #4154f1;
            }

                .sidebar-nav .nav-content a.active i[b-n804nrnd72] {
                    background-color: #4154f1;
                }

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter[b-n804nrnd72] {
    position: absolute;
    right: 0px;
    top: 15px;
}

    .dashboard .filter .icon[b-n804nrnd72] {
        color: #aab7cf;
        padding-right: 20px;
        padding-bottom: 5px;
        transition: 0.3s;
        font-size: 16px;
    }

        .dashboard .filter .icon:hover[b-n804nrnd72], .dashboard .filter .icon:focus[b-n804nrnd72] {
            color: #4154f1;
        }

    .dashboard .filter .dropdown-header[b-n804nrnd72] {
        padding: 8px 15px;
    }

        .dashboard .filter .dropdown-header h6[b-n804nrnd72] {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #aab7cf;
            margin-bottom: 0;
            padding: 0;
        }

    .dashboard .filter .dropdown-item[b-n804nrnd72] {
        padding: 8px 15px;
    }

/* Info Cards */
.dashboard .info-card[b-n804nrnd72] {
    padding-bottom: 10px;
}

    .dashboard .info-card h6[b-n804nrnd72] {
        font-size: 18px;
        color: #012970;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

.dashboard .card-icon[b-n804nrnd72] {
    font-size: 18px;
    line-height: 0;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .pending-card .card-icon[b-n804nrnd72] {
    color: #4154f1;
    /* background: #f6f6fe; */
    background: #eeeeee;
}

.dashboard .reward-card .card-icon[b-n804nrnd72] {
    color: #4154f1;
    /* background: #f6f6fe; */
    background: #E3F5F9;
}

.dashboard .revenue-card .card-icon[b-n804nrnd72] {
    color: #2eca6a;
    /* background: #e0f8e9; */
    background: #FCF0D1;
}

.dashboard .customers-card .card-icon[b-n804nrnd72] {
    color: #ff771d;
    /* background: #ffecdf; */
    background: #ffecdf;
}

/* Activity */
.dashboard .activity[b-n804nrnd72] {
    font-size: 14px;
}

    .dashboard .activity .activity-item .activite-label[b-n804nrnd72] {
        color: #888;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 64px;
    }

        .dashboard .activity .activity-item .activite-label[b-n804nrnd72]::before {
            content: "";
            position: absolute;
            right: -11px;
            width: 4px;
            top: 0;
            bottom: 0;
            background-color: #eceefe;
        }

    .dashboard .activity .activity-item .activity-badge[b-n804nrnd72] {
        margin-top: 3px;
        z-index: 1;
        font-size: 11px;
        line-height: 0;
        border-radius: 50%;
        flex-shrink: 0;
        border: 3px solid #fff;
        flex-grow: 0;
    }

    .dashboard .activity .activity-item .activity-content[b-n804nrnd72] {
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .dashboard .activity .activity-item:first-child .activite-label[b-n804nrnd72]::before {
        top: 5px;
    }

    .dashboard .activity .activity-item:last-child .activity-content[b-n804nrnd72] {
        padding-bottom: 0;
    }

/* News & Updates */
.dashboard .news .post-item + .post-item[b-n804nrnd72] {
    margin-top: 15px;
}

.dashboard .news img[b-n804nrnd72] {
    width: 80px;
    float: left;
    border-radius: 5px;
}

.dashboard .news h4[b-n804nrnd72] {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}

    .dashboard .news h4 a[b-n804nrnd72] {
        color: #012970;
        transition: 0.3s;
    }

        .dashboard .news h4 a:hover[b-n804nrnd72] {
            color: #4154f1;
        }

.dashboard .news p[b-n804nrnd72] {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales[b-n804nrnd72] {
    font-size: 14px;
}

    .dashboard .recent-sales .table thead[b-n804nrnd72] {
        background: #f6f6fe;
    }

        .dashboard .recent-sales .table thead th[b-n804nrnd72] {
            border: 0;
        }

    .dashboard .recent-sales .dataTable-top[b-n804nrnd72] {
        padding: 0 0 10px 0;
    }

    .dashboard .recent-sales .dataTable-bottom[b-n804nrnd72] {
        padding: 10px 0 0 0;
    }

/* Top Selling */
.dashboard .top-selling[b-n804nrnd72] {
    font-size: 14px;
}

    .dashboard .top-selling .table thead[b-n804nrnd72] {
        background: #f6f6fe;
    }

        .dashboard .top-selling .table thead th[b-n804nrnd72] {
            border: 0;
        }

    .dashboard .top-selling .table tbody td[b-n804nrnd72] {
        vertical-align: middle;
    }

    .dashboard .top-selling img[b-n804nrnd72] {
        border-radius: 5px;
        max-width: 60px;
    }

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist[b-n804nrnd72] {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.25rem;
    padding-top: 15px;
}

    .iconslist .icon[b-n804nrnd72] {
        background-color: #fff;
        border-radius: 0.25rem;
        text-align: center;
        color: #012970;
        padding: 15px 0;
    }

    .iconslist i[b-n804nrnd72] {
        margin: 0.25rem;
        font-size: 2.5rem;
    }

    .iconslist .label[b-n804nrnd72] {
        font-family: var(--bs-font-monospace);
        display: inline-block;
        width: 100%;
        overflow: hidden;
        padding: 0.25rem;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666;
    }

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img[b-n804nrnd72] {
    max-width: 120px;
}

.profile .profile-card h2[b-n804nrnd72] {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
}

.profile .profile-card h3[b-n804nrnd72] {
    font-size: 18px;
}

.profile .profile-card .social-links a[b-n804nrnd72] {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

    .profile .profile-card .social-links a:hover[b-n804nrnd72] {
        color: #012970;
    }

.profile .profile-overview .row[b-n804nrnd72] {
    margin-bottom: 20px;
    font-size: 15px;
}

.profile .profile-overview .card-title[b-n804nrnd72] {
    color: #012970;
}

.profile .profile-overview .label[b-n804nrnd72] {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label[b-n804nrnd72] {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img[b-n804nrnd72] {
    max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6[b-n804nrnd72] {
    font-size: 18px;
    font-weight: 600;
    color: #4154f1;
}

.faq .basic p[b-n804nrnd72] {
    color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box[b-n804nrnd72] {
    padding: 28px 30px;
}

    .contact .info-box i[b-n804nrnd72] {
        font-size: 38px;
        line-height: 0;
        color: #4154f1;
    }

    .contact .info-box h3[b-n804nrnd72] {
        font-size: 20px;
        color: #012970;
        font-weight: 700;
        margin: 20px 0 10px 0;
    }

    .contact .info-box p[b-n804nrnd72] {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

.contact .php-email-form .error-message[b-n804nrnd72] {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message[b-n804nrnd72] {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading[b-n804nrnd72] {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

    .contact .php-email-form .loading[b-n804nrnd72]:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading-b-n804nrnd72 1s linear infinite;
    }

.contact .php-email-form input[b-n804nrnd72], .contact .php-email-form textarea[b-n804nrnd72] {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

    .contact .php-email-form input:focus[b-n804nrnd72], .contact .php-email-form textarea:focus[b-n804nrnd72] {
        border-color: #4154f1;
    }

.contact .php-email-form input[b-n804nrnd72] {
    padding: 10px 15px;
}

.contact .php-email-form textarea[b-n804nrnd72] {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit][b-n804nrnd72] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

    .contact .php-email-form button[type=submit]:hover[b-n804nrnd72] {
        background: #5969f3;
    }

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading-b-n804nrnd72 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404[b-n804nrnd72] {
    padding: 30px;
}

    .error-404 h1[b-n804nrnd72] {
        font-size: 180px;
        font-weight: 700;
        color: #4154f1;
        margin-bottom: 0;
        line-height: 150px;
    }

    .error-404 h2[b-n804nrnd72] {
        font-size: 24px;
        font-weight: 700;
        color: #012970;
        margin-bottom: 30px;
    }

    .error-404 .btn[b-n804nrnd72] {
        background: #51678f;
        color: #fff;
        padding: 8px 30px;
    }

        .error-404 .btn:hover[b-n804nrnd72] {
            background: #3e4f6f;
        }

@media (min-width: 992px) {
    .error-404 img[b-n804nrnd72] {
        max-width: 50%;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer[b-n804nrnd72] {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}

    .footer .copyright[b-n804nrnd72] {
        text-align: center;
        color: #012970;
    }

    .footer .credits[b-n804nrnd72] {
        padding-top: 5px;
        text-align: center;
        font-size: 13px;
        color: #012970;
    }
