.rowDiv[b-shg9vz5jp3] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.value[b-shg9vz5jp3] {
    font-size: 0.95em;
}

.title[b-shg9vz5jp3] {
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-break: break-word;
}

.valueWithLink[b-shg9vz5jp3] {
    font-size: 0.95em;
}
