@{
    ViewData["Title"] = "Ana Sayfa";
}


<div class="pagetitle">
        <h5>&nbsp;</h5>
        <nav></nav>
</div>
<section class="section dashboard">
    <div class="row d-flex justify-content-lg-between">
        <div class="col-lg-12">
            <div class="row">
                @await Html.PartialAsync("_CardBlockPartial")
                @await Html.PartialAsync("_CardTransactionPartial")
                @await Html.PartialAsync("_CardTransactionPoolPartial")
                @await Html.PartialAsync("_CardAccountPartial")
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
            @await Html.PartialAsync("_WidgetBlockPartial")
        </div>
        <div class="col-lg-4">
            @await Html.PartialAsync("_WidgetTransactionPartial")
        </div>
        <div class="col-lg-4">
            @await Html.PartialAsync("_WidgetTransactionPoolPartial")
        </div>
    </div>
    <br />
</section>
