@using RecycleCoin.Grpc;
@using RecycleCoinBlockExplorer.ViewComponents;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers;
@model Veri
@{
	ViewData["Title"] = "Blok/Bloklar";
	var tekBlok = Model.IsSingleBlock;
	var cokluBlok = Model.IsTableBlocks;
}

<h1>Bloklar</h1>
<main id="main" class="main">
	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				@(await Component.InvokeAsync("BlocksComponent", Model))
			</div>
		</div>
	</section>
</main>